header {
  position: relative;

  height: 64px;

  background: #ffffff;
  z-index: 2;
  box-shadow: 0px 4px 5px #e9edf3;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_part {
  display: flex;
  align-items: center;
}

.right_part {
  display: flex;
  align-items: center;
}

.date {
  height: 22px;

  margin-left: 5vw;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  display: flex;
  align-items: flex-end;

  color: #899cb1;

  white-space: nowrap;
}

.search {
  position: relative;
  top: 2px;
}

.name_container {
  width: 262px;
  height: 21px;

  margin-left: 3vw;

  display: flex;
  align-items: flex-end;
  text-align: right;
  justify-content: flex-end;

  white-space: nowrap;
}

.name {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;

  color: #899cb1;
}

.name_arrow_btn {
  position: relative;
  top: -10px;
  right: -10px;
}

.arrow {
  position: relative;

  top: 10px;
}

.name_arrow_btn :active {
  fill: #002b8c;
}

.avatar {
  border-radius: 50px;

  margin-right: 10px;
}

.avatar_btn {
  position: relative;

  margin-right: 1vw;
  width: 68px;
  height: 40px;

  margin-left: 3vw;

  display: flex;
}
