.analytics_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  gap: 3vw;

  position: relative;

  width: 594px;
  height: 34px;

  margin-left: 4.5vw;
  bottom: 2px;
}

.analytics_item {
  height: 34px;

  flex: none;
  flex-grow: 0;
}

.analytics_item_1 {
  order: 0;
}

.analytics_item_2 {
  order: 1;
}

.analytics_item_3 {
  order: 2;
}

.analytics_text {
  height: 21px;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  display: flex;
  align-items: flex-end;

  color: #122945;
}

.analytics_text_green {
  color: #00a775;
}

.analytics_text_yellow {
  color: #ffb800;
}

.analytics_text_red {
  color: #ea1a4f;
}

.bar {
  position: relative;
  height: 6px;

  top: 7px;

  z-index: 1;

  border-radius: 12px 0px 0px 12px;
}

.green_bar {
  width: 100px;

  background: #28a879;
}

.yellow_bar {
  width: 70px;

  background: #ffd500;
}

.red_bar {
  width: 100px;

  background: #ea1a4f;
}

.bar_empty {
  position: relative;

  height: 6px;

  top: 1px;

  background: #dee6f5;
  border-radius: 12px;
}
