.logo {
  position: relative;
  left: 12px;
  top: 20px;
}

.blue_btn {
  max-width: 200px;
  height: 52px;
  width: 83%;

  margin: 0 auto;

  border: none;
  cursor: pointer;

  background: #005ff8;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  white-space: nowrap;
}

.blue_btn:hover {
  background: #0000f4;
}

.blue_btn:active {
  background: #274bc8;
}

.add_order_btn {
  margin-top: 112px;
}

.payment_btn {
  margin-top: 32px;
}

.btn_text {
  height: 24px;

  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.add_btn_text {
  margin-right: 10px;
}

.pay_btn_text {
  margin-right: 20px;
}

.add_btn_icon {
  width: 24px;
  height: 24px;
}

.pay_btn_icon_wrapper {
  width: 30px;
  height: 30px;
}

.pay_btn_icon {
  position: relative;
  top: 2px;
}
