html {
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SF-Pro-Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/SF-Pro-Display-Medium.woff") format("woff");
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "SF Pro Display";
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}

a {
  text-decoration: none;
}

main {
  min-width: 1920px;

  background: #f1f4f9;
  background-attachment: fixed;
}

section {
  position: absolute;

  width: 1440px;
  left: 360px;
  top: 64px;

  padding-bottom: 100px;
}

aside {
  width: 240px;
  height: 2800px;

  background: #091336;
  background-attachment: fixed;
}

li {
  list-style: none;
}
