html {
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SF-Pro-Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/SF-Pro-Display-Medium.woff") format("woff");
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "SF Pro Display";
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  min-width: 1500px;

  min-height: 100vh;

  background: #f1f4f9;
  background-attachment: fixed;
}

main > div {
  width: 100%;
}

section {
  margin: 0 auto;

  max-width: 1440px;

  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 100px;
}

aside {
  max-width: 240px;
  width: 12%;
  min-width: 180px;

  background: #091336;
  background-attachment: fixed;
}

li {
  list-style: none;
}
